RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^.*$ index.php?requestedurl=$0

<FilesMatch "\.(php|twig|log)$">
Deny from all
</FilesMatch>

<FilesMatch "^index.php$">
Allow from all
</FilesMatch>