{#<?php 
/**
 * Главная страница с миниатюрками 
 * 
 * Дизайн из фигмы
 * Миниатюрные значки?
 * 
 * if(get)
 * просто отображаю переданные из контроллера миниатюрки
 * if(post)
 * шлётся id выбранной миниатюры в контроллер, пользователь переходит в контроллер конкретного задания. 
 * 
 * 
 * 
 * 
 * 
 * 
 * 
 * 
 * 
 */
 alabama#}
<div class="container">
	<p>JUST SOME HOME PAGE</p>
</div>
