<div>
	<label for="file-selector" class="loadLabel" id="label-selector"></label>
	<input type="file" id="file-selector" class="hide">
</div>
<p id="status"></p>
<p id="progress"></p>
<div>
	<iframe id="output" src="" class="output-image" style="border:none"></iframe>
</div>

<script type="text/javascript" src="public/js/script.js"></script>
